@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

.allContent {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Lato", sans-serif;
}

.createNewMessage__wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNewMessage__container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

.name-block__new-chat * {
  pointer-events: none;
}

.messages-panel {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 100%;
}

.contacts-block {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem 3rem calc(100% - 3rem - 6rem);
  place-items: center;
}

.message-window {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 6rem minmax(auto, calc(100% - 6rem - 6rem)) minmax(
      6rem,
      auto
    );
  place-items: center;
}

.moreMessages {
  position: absolute;
  top: 0;
  right: 0;
}

.message-window__start-new-chat {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-new-chat__start-button:hover {
  background-color: #4dd681;
}

.current-contact__logo,
.message__sender-image,
.contact__image {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  border-radius: 50%;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-contact__logo {
  min-width: 5rem;
  min-height: 5rem;
  max-width: 5rem;
  max-height: 5rem;
}

.contacts-block__name-block {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.contacts-block_border-right {
  border-right: 1px solid #ddd;
}

.contacts-block__name-block_border-bottom {
  border-bottom: 1px solid #ddd;
}

.message-window__current-contact {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ddd;
  padding: 0 2rem;
}

.contacts-block__name-block_vertical-align {
  display: flex;
  align-items: center;
}

.user-name {
  margin: 0;
}

.contacts-block__contacts-type {
  position: relative;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.contacts-block__contacts-type_place-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.contacts-type__tab {
  padding: 1rem;
  cursor: pointer;
}

.contacts-type__tab > * {
  pointer-events: none;
}

.contacts-type__underline {
  position: absolute;
  bottom: 0;
  border-bottom: 2px solid #00b446;
  transition: all 0.2s ease-in-out;
}

.activity__activity-status_text-styling {
  color: rgb(173, 173, 173);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.last-message-date_text-styling {
  color: rgb(173, 173, 173);
  margin: 0;
  white-space: nowrap;
  font-size: 80%;
}

.message-window__current-contact_align-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.message-window__back-to-contacts {
  display: none;
  width: 2rem;
  height: 2rem;
}

.current-contact__contact-info_align-elements {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.message-window__manage-buttons,
.message-window__waiting-for-confirmation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.manage-buttons__button {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: bold;
}

.manage-buttons__accept-button {
  background-color: #00b446;
}

.manage-buttons__accept-button:hover {
  background-color: #4dd681;
}

.manage-buttons__delete-button {
  background-color: #b40000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manage-buttons__delete-button:hover {
  background-color: #d64d4d;
}

.current-contact__name-block_align-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-window__new-message {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.message-window__new-message_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

.message-window__new-message_align-elements {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: auto minmax(calc(100% - 6rem), 100%);
  place-items: center;
  padding: 0.5rem;
}

.message-window__message-reply-to {
  width: 100%;
  min-height: 0;
  max-height: 6rem;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  display: none;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50% 50%;
}

.message-reply-to__icon {
  fill: #4dd681;
  width: 2rem;
  height: 2rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  place-self: center;
}

.message-reply-to__close-icon {
  fill: rgb(173, 173, 173);
  width: 1.3rem;
  height: 1.3rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  place-self: center;
}

.message-reply-to__close-icon * {
  pointer-events: none;
}

.message-reply-to__contact-name {
  width: 100%;
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.message-reply-to__message {
  width: 100%;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.message-reply-to__name-text_styling {
  color: #00b446;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-reply-to_text-styling {
  color: rgb(173, 173, 173);
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new-message__emoji {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.picmo-custom,
.picmo-custom > .content > .emojiArea {
  width: fit-content !important;
}

.new-message__send-message-photo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.new-message__emoji,
.new-message__send-message-photo {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji__icon {
  width: 100%;
  height: 100%;
}

.new-message__input-field {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
  border: none;
  resize: none;
}

.message-window__emoji-block-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
}

.message-window__emoji-block {
  position: absolute;
  width: fit-content;
  height: 319px;
}

.new-message__input-field:focus-visible {
  outline: none;
}

.new-message__emoji * {
  pointer-events: none;
}

.new-message__send-photo-icon {
  width: 100%;
  height: 100%;
}

.contacts-block__contacts-list-wrapper {
  width: 100%;
  height: 100%;
}

.contacts-block__contacts-list {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 0;
}

.contacts-list__contact {
  list-style-type: none;
  width: 100%;
  height: 6rem;
}
.contacts-list__contact:hover {
  background-color: rgb(246, 246, 246);
}

.contacts-list__contact > * {
  pointer-events: none;
}

.contacts-list__contact_selected {
  background-color: rgb(246, 246, 246);
}

.contact__container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 20% minmax(50%, auto) minmax(10%, auto);
  grid-template-rows: 50% 50%;
  column-gap: 0.5rem;
  padding: 0 1rem;
}

.contact__image {
  min-width: 4rem;
  min-height: 4rem;
  max-width: 4rem;
  max-height: 4rem;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
}

.contact__name {
  padding-right: 0.5rem;
  width: 100%;
  justify-self: start;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.name_text-styling {
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact__last-message-date {
  height: 100%;
  width: 100%;
  justify-self: end;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 0.2rem;
}

.contact__last-message {
  height: 100%;
  width: 100%;
  justify-self: start;
  align-self: center;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.message-window__wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.message-window__scroll-down-button {
  position: absolute;
  display: none;
  top: -4rem;
  right: 3rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
}

.message-window__scroll-down-button * {
  pointer-events: none;
}

.message-window__message-history {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: fit-content;
  padding: 0 2rem;
}

.message-history__empty-chat {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.message-history__message {
  position: relative;
  padding-top: 1rem;
  min-height: 2rem;
  margin: 0.5rem;
  max-width: 300px;
  height: fit-content;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  gap: 1rem;
}

.message-history__message-wrapper {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.message-history__reply-button * {
  pointer-events: none;
}

.message-history__reply-button {
  position: absolute;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  fill: #4dd681;
}

.reply-button__output {
  left: -1.5rem;
}

.reply-button__input {
  right: -2.5rem;
}

.message-history__reply-button_sizing {
  width: 70%;
  height: 70%;
}

.message-history__message-reply-to {
  display: none;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: rgb(145, 145, 145);
}

.message-history__reply-to-name_styling {
  color: white;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.message-history__reply-to-message_styling {
  color: white;
  margin: 0;
}

.empty-chat__message,
.start-new-chat__select-chat {
  margin: 0;
  padding: 1rem;
  border-radius: 4px;
  background-color: rgb(99, 99, 99);
  color: white;
  font-weight: bold;
}

.message-history__output {
  justify-content: end;
}

.message-history__input {
  justify-content: start;
}

.message__input > .message__text_bg {
  background-color: rgb(246, 246, 246);
}

.message__sender-image {
  min-width: 4rem;
  min-height: 4rem;
  max-width: 4rem;
  max-height: 4rem;
}

.message__sender-image_hidden {
  display: none;
}

.message__text {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 1rem;
  border-radius: 4px;
}

.message__text_border {
  border: 1px solid #ddd;
}

.message__text_emoji {
  font-size: 6rem;
}

.message__text_link {
  color: #00b446;
  font-weight: bold;
  cursor: pointer;
  word-break: break-word;
}

.message__text_link:hover {
  text-decoration: underline;
}

.external-link-alert__wrapper {
  position: fixed;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.external-link-alert__container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: fit-content;
  padding: 1rem;
  border-radius: 4px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.external-link-alert__container p {
  text-align: center;
}

.external-link-alert__button {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
}

.button__cancel-button {
  background-color: #00b446;
}

.button__cancel-button:hover {
  background-color: #4dd681;
}

.button__risk-button {
  background-color: #b40000;
}

.button__risk-button:hover {
  background-color: #d64d4d;
}

.message__message-date {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  width: fit-content;
}

.message__message-date_output {
  place-self: end;
}

.message__message-date_input {
  place-self: start;
}

.message-date__text {
  white-space: nowrap;
  margin: 0;
  color: rgb(173, 173, 173);
  font-size: smaller;
  width: fit-content;
}

.custom-badge {
  background-color: #00b446;
  border-radius: 9999px;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
}

.custom-badge_hidden {
  display: none;
}

.new-message__sendButton {
  display: none;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #00b446;
}

@media screen and (max-width: 1200px) {
  .messages-panel {
    grid-template-columns: 34% 66%;
  }
}

@media screen and (max-width: 680px) {
  .allContent {
    padding: 1rem;
  }

  .contact__container {
    grid-template-columns: 15% minmax(50%, auto) minmax(10%, auto);
    padding: 0 0.5rem;
  }

  .messages-panel {
    width: 365px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .message-window {
    display: none;
  }

  .message-window__current-contact {
    padding: 0 1rem;
  }

  .message-window__current-contact_align-elements {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 100%;
  }

  .message-window__back-to-contacts {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contacts-block_border-right {
    border-right: none;
  }

  .message-window__message-history {
    padding: 0 1rem;
  }

  .message__text {
    max-width: 220px;
  }

  .message-history__reply-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .reply-button__input {
    right: -3rem;
  }
}
